#include MANIFEST.in
include *.txt
include turntakingmeasurementtools_manual.pdf
include docs/*.rst
include docs/Makefile
include examples/*.pickle
include examples/*.ttdist
include examples/cpickleversion
exclude tidy_and_push.py
recursive-include examples *.txt *.py
